<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1044929193629-gouqon460fm3r5ajj9guo17k07rabquv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044929193629-gouqon460fm3r5ajj9guo17k07rabquv</string>
	<key>API_KEY</key>
	<string>AIzaSyAxCgK17fzNUqtSlWFO1pkFmyZDeu7L-IU</string>
	<key>GCM_SENDER_ID</key>
	<string>1044929193629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.ergofriend001</string>
	<key>PROJECT_ID</key>
	<string>ergofriend-001</string>
	<key>STORAGE_BUCKET</key>
	<string>ergofriend-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044929193629:ios:55e826c023cf0d15</string>
	<key>DATABASE_URL</key>
	<string>https://ergofriend-001.firebaseio.com</string>
</dict>
</plist>